{% extends "base.html" %}
{% block title %}Edycja konta{% endblock %}
{% block content %}

<div class="container-fluid p-3 my-3 border">
    <h1>Edycja konta</h1>
    <p>Ustawienia konta możesz zmienić za pomocą poniższego formularza:</p>
</div>

<div class="container-fluid p-3 my-3 border font-weight-bold">
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" class="btn btn-primary" value="Zapisz zmiany"></p>
    </form>
</div>
{% endblock %}